{% extends "home.html" %}

{% block content %}

<h2>Create Account</h2>
<form action="/createAccount" method="post">
    <!-- Input field for Username -->
    <div class="mb-3">
        <label for="username" class="form-label">Input Username:</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>

    <!-- Input field for Password -->
    <div class="mb-3">
        <label for="password" class="form-label">Input Password:</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>

    <div class="mb-3">
        <label for="confirm_password" class="form-label">Confirm Password:</label>
        <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
    </div>
    <!-- Create Account Button -->
    <button type="submit" class="btn btn-primary">Create Account</button>

{% endblock %}