{% extends "home.html" %}

{% block content %}

<div class="container mt-4">
    <h1>Welcome to the Ecomerce Website</h1>
</div>
    <div class="container mt-4">
        <h1>Log In</h1>
        <form action="/login" method="post">
            <!-- Input field for Username -->
            <div class="mb-3">
                <label for="username" class="form-label">Input Username:</label>
                <input type="text" class="form-control" id="username" name="userName" required>
            </div>

            <!-- Input field for Password -->
            <div class="mb-3">
                <label for="password" class="form-label">Input Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>

            <!-- Log In Button -->
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>

        <!-- Forgot Password Button -->
        <form action="/forgot_password" method="get" class="mt-3">
            <button type="submit" class="btn btn-link">Forgot Password</button>
        </form>

        <!-- "Don't have an account" Button -->
        <form action="/createAccount" method="get" class="mt-3">
            <button type="submit" class="btn btn-secondary">Don't have an account?</button>
        </form>
    </div>

{% endblock %}